body{
    background-color: #F8F9FD;
}

.paddingt{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.dashboard{
    width: 100%;
    height: 100%;
    min-width: 800px;
    .content-dashboard{
        width: 100%;
        height: 100%;
        .sub-menu{
            border-bottom: 1px solid #00000007;
            margin-top: -10px;
            h1{
                font-size: 25px;
                font-weight: 400;
                height: 25px;
            }
            .content{
                margin-left: -30px;
                button{
                    background: none;
                    border: none;
                    outline: none;
                    text-align: left;
                    h2{
                        height: 20px;
                        font-size: 12px;
                        font-weight: 400;
                        color: #949494;
                        margin-left: 25px;
                        cursor: pointer;
                    }
                }
                .active h2{
                    border-bottom: 2px solid #662ef5;
                    color: #313131;
                }
            }
        }
        .option-button-tables{
            display: flex;
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 15px;
            padding-bottom:10px;
            border-bottom: 1px solid #00000007;
            height: 60px;
            .content-1{
                display: flex;
                width: 70%;
                border-right: 1px solid #00000007;
                .fa{
                    width: 30px;
                    height: 30px;
                    background-color: #ffffff;
                    color: #000000c2;
                    border-radius: 4px;
                    margin-left: 10px;
                    line-height: 30px;
                    font-size: 13px;
                    padding-left: 9px;
                    box-shadow: 0px 2px 7px rgba( 0, 0, 0, 0.05);
                }
                .fa-file{
                    font-size: 10px;
                    padding-left: 11px;
                }
                .fa:hover{
                    cursor: pointer;
                }
            }
            .content-2{
                width: 10%;
                text-align: center;
                border-right: 1px solid #00000007;
                h1{
                    font-size: 13px;
                }
            }
            .content-3{
                width: 150px;
                padding-left: 10px;
                select{
                    background: transparent !important;
                    width: 100px;
                    font-size: 12px;
                    border: none;
                    outline: none;
                    margin-top: 11px;
                    background-color: transparent;
                }
            }
            .content-4{
                .fa{
                    width: 30px;
                    height: 30px;
                    font-size: 12px;
                    line-height: 30px;
                    padding-left: 11px;
                    background-color: #39d453e8;
                    border-radius: 4px;
                    color: #ffffff;
                    box-shadow: 0px 2px 10px rgba(48, 209, 56, 0.774);
                }
                .fa:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
