.Header{
    padding-left: 180px;
    height: 50px;
    border-bottom: 1px solid #00000007;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;

    .fa{
        height: 50px;
        color: #00000047;
        width: 50px;
        font-size: 15px;
        padding-left:18px;
        line-height: 50px;
        cursor: pointer;
    }

    .fa-search{
        border-right:1px solid #00000007;
    }

    .fa-bell{
        border-right:1px solid #00000007;
        margin-right: 18px;
    }

    .fa-bell::after{
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        background-color: #662ef5;
        border-radius: 25px;
        margin-top: 13px;
        margin-left: -5px;
    }

    img{
        width: 30px;
        height: 30px;
        border-radius: 50px;
        cursor: pointer;
    }
}