@import url("./TooltipText.scss");

.sidebar{
    background: rgba(162,102,252,1);
    background: -moz-linear-gradient(top, rgba(162,102,252,1) 0%, rgba(134,76,249,1) 46%, rgba(102,46,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(162,102,252,1)), color-stop(46%, rgba(134,76,249,1)), color-stop(100%, rgba(102,46,245,1)));
    background: -webkit-linear-gradient(top, rgba(162,102,252,1) 0%, rgba(134,76,249,1) 46%, rgba(102,46,245,1) 100%);
    background: -o-linear-gradient(top, rgba(162,102,252,1) 0%, rgba(134,76,249,1) 46%, rgba(102,46,245,1) 100%);
    background: -ms-linear-gradient(top, rgba(162,102,252,1) 0%, rgba(134,76,249,1) 46%, rgba(102,46,245,1) 100%);
    background: linear-gradient(to bottom, rgba(162,102,252,1) 0%, rgba(134,76,249,1) 46%, rgba(102,46,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a266fc', endColorstr='#662ef5', GradientType=0 );
    width: 170px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    .logo{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(248, 249, 253, 0.144);
        svg{
            animation: App-logo-spin infinite 20s linear;
            width: 70px;
            g{
                fill: #ffffff;
            }
        }
    }
    .sidebar-menu{
        width: 100%;
        ul{
            list-style: none;
            width: 100%;
            height: 100%;
            padding-top: 30px;
            li{
                left: 0;
                width: 170px;
                height: 55px;
                margin-bottom: 0px;
                margin-left: -40px;
                display: flex;
                justify-content: center;
                .link{
                    width: 170px;
                    height: 55px;
                    text-decoration: none;
                    font-weight: 700;
                    color: #d3d3d3;
                    font-size: 11px;
                    padding-top: 12px;
                    padding-left: 15px;
                    transition: 0.4s ease;
                }
                .link:hover{
                    background-color: #7942E6;
                }
                .link::before{
                    content: "";
                    position: absolute;
                    margin-top: -12px;
                    margin-left: -15px;
                    width: 3px;
                    height: 55px;
                    transition: 0.4s ease;
                }
                i{
                    width: 35px;
                    height: 50px;
                    border-radius: 4px;
                    text-align: center;
                    line-height: 36px;
                    transition: 0.4s ease;
                }
                i:hover{
                    color: #ffffff;
                }
            }
            .active{
                transition: 0.4s ease;
                background-color: #7942E6;
                .link{
                    color: #ffffff;
                }
                .link::before{
                    background-color: beige;
                }
                i{
                    transition: 0.4s ease;
                    color: #ffffff;
                }
            }
        }
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }





