.Table{
    padding: 20px;
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 0.2em;
    thead{
        width: 100%;
        height: 30px;
        th{
            font-size: 11px;
            color: #8d8c8cc9;
            text-align: left;
            padding-bottom: 10px;
            padding-left: 40px;
        }
    }
    tbody{
        width: 100%;
        tr{
            width: 100%;
            background-color: #ffffff;
            border: 0px solid #ffffff;
            height: 60px;
            transition: 0.4s ease;
            td{
                border: 0px solid #ffffff !important;
                text-align: left; 
                border-style: solid none;
                padding: 10px;
                margin-top: 5px;
                padding-left: 40px;
                font-size: 11px;
                font-weight: 500;
                line-height: 25px;
                span{
                    width: 25px;
                    height: 25px;
                    border-radius: 4px;
                    background-color: #8d8c8c46;
                    color: #771cdf;
                    font-weight: 700;
                    position: absolute;
                    margin-left: -35px;
                    font-size: 9px;
                    text-align: center;
                    line-height: 25px;
                }
                .fa{
                    font-size: 10px;
                }
                .green{
                    color: #4d15a8;
                }
                .red{
                    color: rgb(117, 116, 116);
                }
            }
            .col-2{
                padding-left: 35px;
            }
            td:first-child {
                border-left-style: solid;
                border-top-left-radius: 6px; 
                border-bottom-left-radius: 6px;
            }
            td:last-child {
                border-right-style: solid;
                border-bottom-right-radius: 6px; 
                border-top-right-radius: 6px; 
            }
        }
        .highlight:hover{
            background-color: #f5f5f5 !important;
        }
    }
}




