@import url("./components/Sidebar/Sidebar.scss");
@import url("./components/pages/Dashboard/Dashboard.scss");
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Niconne);

::-webkit-scrollbar{
  width: 8px;
  background-color: #242424;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #525252;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: #242424;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}



article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff;
}

.body-page{
  padding: 0;
  margin: 0;
  display: flex;
}

.body-page .content-2{
  width: 100%;
}

.personal-info{
  width: 100%;
  text-align: center;
}

.personal-info h1{
  font-size: 14px;
  font-weight: 700;
  color: #6c32d8;
  text-transform: uppercase;
}
.personal-info h2{
  font-style: italic;
  font-size: 12px;
}




